/* Estilos generales para la página de ciudades */
.cities-home {
    font-family: Arial, sans-serif;
    padding: 20px;
    width: 100%;
    margin: 0 auto;
  }
  
  .cities-home-title {
    font-size: 2em;
    margin-bottom: 20px;
    color: #333;
  }
  
  /* Estilos para la lista de ciudades */
  .cities-home-list {
    margin-top: 20px;
  }
  
  /* Estilos para el diálogo de creación de ciudad */
  #edit-city-dialog {
    border: none;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
    max-width: 500px;
    width: 100%;
    background-color: #fff;
  }
  
  .dialog-title {
    font-size: 1.5em;
    margin-bottom: 20px;
    color: #333;
  }
  
  .dialog-form {
    display: flex;
    flex-direction: column;
  }
  
  .dialog-form-field,
  .dialog-form-description {
    margin-bottom: 15px;
  }
  
  .dialog-form-field label,
  .dialog-form-description label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #555;
  }
  
  .dialog-form-field input,
  .dialog-form-description textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1em;
  }
  
  .dialog-form-description textarea {
    height: 100px;
    resize: vertical;
  }
  
  .dialog-form-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .dialog-form-buttons button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    font-size: 1em;
    cursor: pointer;
  }
  
  #create-city {
    background-color: #28a745;
    color: #fff;
  }
  
  #cancel-city {
    background-color: #dc3545;
    color: #fff;
  }
  
  #cancel-city:hover,
  #create-city:hover {
    opacity: 0.9;
  }
  
  #input-title,
  #input-author,
  #input-publicDate,
  #input-estado,
  #input-percentage,
  #input-correction,
  #input-platform,
  #input-country,
  #input-description {
    width: 95%;
  }
  
  #input-body {
    width: 98%;
    height: 100px;
  }
  