
#cities-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 15px;
    padding: 0;
    margin: 0;
    list-style-type: none;
}


#cities-list li {
    display: flex;
    flex-direction: column;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

#cities-list li:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


.city-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}


.city-name {
    font-size: 1.5em;
    margin: 0;
    color: #ffffff;
}


.city-country {
    font-size: 1.2em;
    color: #fffefe;
    margin: 5px 0;
}


.city-description {
    margin: 10px 0;
    color: #555;
}


.city-temperature {
    font-size: 1.1em;
    color: #ff5722;
    margin: 10px 0;
}


.button-delete-city,
.button-edit-city {
    padding: 8px 12px;
    margin: 5px 0;
    border: none;
    border-radius: 4px;
    color: #fff;
    font-size: 0.9em;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button-delete-city {
    background-color: #f3e0aa;
}

.button-delete-city:hover {
    background-color: #dfd1a5;
}


.button-edit-city {
    background-color: #dbb78d;
}


.button-edit-city:hover {
    background-color: #c9ae86;
}